<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annotations</title>
    <link rel="stylesheet" href="style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div id="app"></div>


<script id="template-canvas" type="text/html">
    <div id="canvas"></div>
    <button id="add-annotation"><%= addButton %></button>
</script>

<script id="template-annotation" type="text/html">
    <div class="annotation__dot"></div>
    <div class="annotation__details">
        <div class="annotation__color annotation__color--blue" data-color="blue"></div>
        <div class="annotation__color annotation__color--green" data-color="green"></div>
        <div class="annotation__color annotation__color--red" data-color="red"></div>
        <div class="annotation__color annotation__color--orange" data-color="orange"></div>
        <i class="material-icons annotation__close-details">close</i>
        <i class="material-icons annotation__delete">delete</i>
        <h3><%= title %></h3>
        <p><%= description %></p>
    </div>
</script>

<script id="template-clock" type="text/html">
    <span><%= hours %></span>
    <span>:</span>
    <span><%= minutes %></span>
    <span>:</span>
    <span><%= seconds %></span>
</script>

<script type="text/javascript" src="dist/bundle.js"></script>
</body>
</html>