<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annotations</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>

<div id="app"></div>


<script id="template-canvas" type="text/html">
    <div id="canvas">
        <%

        collection.each( (model) => {
        console.log(model.toJSON());
        %>

        <div class="annotation"></div>

        <%
        });
        %>
    </div>
    <button id="add-annotation"><%= addButton %></button>
</script>

<script id="template-annotation" type="text/html">
    <p><%= color %></p>
</script>

<script id="template-clock" type="text/html">
    <span><%= hours %></span>
    <span>:</span>
    <span><%= minutes %></span>
    <span>:</span>
    <span><%= seconds %></span>
</script>

<script type="text/javascript" src="dist/bundle.js"></script>
</body>
</html>