@grey: #979f9d;
@grey-dark: #606c68;
@green: forestgreen;
@blue: steelblue;
@orange: #eb9416;
@red: #D90000;

@font-face {
    font-family: 'Segment7';
    src: url('../fonts/Segment-7.otf');
}

body {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1300px) {
    body .container {
        width: 1260px;
    }
}

.navbar-image {
    padding: 5px;
    max-height: 50px;
}

.background__wrapper {
    margin-bottom: 20px;
    .background__icon {
        vertical-align: middle;
    }
    .background__usage {
        display: inline-block;
    }
    .background__src {
        width: 100%;
        padding: 10px;
        border: 1px solid @grey;
    }
}

#canvas-wrapper {
    #canvas {
        position: relative;
        margin: 0 auto;
        padding: 0;
        height: 300px;
        border: 1px solid @grey;
        background: no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .annotation__new-title {
        line-height: 35px;
        margin: 0;
        .annotation__new-icon {
            vertical-align: text-bottom;
        }
    }

    #annotation-title, #annotation-description, #annotation-color, #add-annotation {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        max-height: 143px;
        margin: 0 0 15px 0;
        padding: 10px 14px;
        color: @grey;
        border: 1px solid @grey;
    }

    #add-annotation {
        background-color: @grey-dark;
        padding-bottom: 5px;
        color: white;
        border: none;
        &:hover {
            background-color: @green;
        }
    }
}

.annotation {
    position: absolute;

    .annotation__dot {
        position: absolute;
        float: left;
        border: 1px solid @grey;
        border-radius: 50%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .annotation__details {
        display: none;
        position: absolute;
        background: white;
        padding: 10px;
        min-width: 250px;
        left: 100%;
        top: 100%;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid @grey;
        z-index: 10;

        &.annotation__details--visible {
            display: block;
        }

        .annotation__close-details {
            float: right;
            cursor: pointer;
            &:hover {
                color: #d80021;
            }
        }

        .annotation__delete {
            float: right;
            cursor: pointer;
            &:hover {
                color: #d80021;
            }
        }

        .annotation__color {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #979f9d;
            border-radius: 50%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            cursor: pointer;
            &.annotation__color--blue {
                background-color: @blue;
                border: 3px solid darken(@blue, 5%);
            }
            &.annotation__color--green {
                background-color: @green;
                border: 3px solid darken(@green, 5%);
            }
            &.annotation__color--red {
                background-color: @red;
                border: 3px solid darken(@red, 5%);
            }
            &.annotation__color--orange {
                background-color: @orange;
                border: 3px solid darken(@orange, 5%);
            }
        }

        .annotation__title {
            width: 100%;
            margin-bottom: 5px;
            border: none;
            font-weight: bold;
        }

        .annotation__description {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            border: none;
        }
    }

    &.annotation--green {
        .annotation__dot {
            background-color: @green;
            border: 3px solid darken(@green, 5%);
        }
        .annotation__details {
            border: 2px solid @green;
        }
    }
    &.annotation--blue {
        .annotation__dot {
            background-color: @blue;
            border: 3px solid darken(@blue, 5%);
        }
        .annotation__details {
            border: 2px solid @blue;
        }
    }
    &.annotation--red {
        .annotation__dot {
            background-color: @red;
            border: 3px solid darken(@red, 5%);
        }
        .annotation__details {
            border: 2px solid @red;
        }
    }
    &.annotation--orange {
        .annotation__dot {
            background-color: @orange;
            border: 3px solid darken(@orange, 5%);
        }
        .annotation__details {
            border: 2px solid @orange;
        }
    }
}

.clock {
    width: 100%;
    margin: 20px auto;
    padding: 15px 0 0 0;
    background-color: #000000;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.75);
    font-size: 129px;
    line-height: 137px;
    span {
        font-family: 'Segment7', monospace;
        color: #00ff0d;
    }
}