@font-face {
    font-family: 'Segment7';
    src: url('../fonts/Segment-7.otf');
}

#canvas {
    border: 3px solid black;
    background-color: lightblue;
    height: 300px;
}

.annotation {
    //position: absolute;
    float: left;
    border: 3px solid black;
    border-radius: 50%;
}

.clock {
    width: 800px;
    margin: 30px auto;
    padding: 30px 0 0 0;
    background-color: #000000;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.75);
    span {
        font-family: 'Segment7', monospace;
        font-size: 160px;
        line-height: 170px;
        color: #00ff0d;
    }
}