#canvas {
    border: 3px solid black;
    background-color: lightblue;
    height: 300px;
}

.annotation {
    //position: absolute;
    float: left;
    border: 3px solid black;
    border-radius: 50%;
}
